/*上次地震记录*/
.last-div {
    padding: 0 0.125rem;
    margin-bottom: 0.75rem;
    display: flex;
}
.last-div * {
    color: white;
    font-size: 18px;
    padding: 0 1.125rem;
    align-self: center;
}
#last-one .level {
    float: left;
}
#last-one .level .number {
    /*Todo: js实现颜色随等级变化*/
    color: #ffcc8b;
    font-size: 24px;
    font-weight: bold;
    padding: 0 0.675rem;
}
#last-one .position {
    float: left;
}
/*地区排行*/
#area-rank .rank-radio {
    display:inline;
}
#area-rank .rank-radio * {
    padding: unset;
    margin-left: 5%;
}
#area-rank .rank {
    width: 100%;
    float: left;
}
#area-rank .word-cloud {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    height: 38%;
    float: left;
}
#area-rank .area-table {
    border-collapse: separate;
    border-spacing: 5px;
    margin-top: 1%;
    width: 100%;
    border: none;
}
#area-rank .area-table * {
    text-align: center;
}
#area-rank .area-table tr {
    margin: 2px 0;
}
#area-rank .area-table th * {
    font-weight: normal;
    font-size: 24px;
    color: #68d8fe;
}
#area-rank .area-table td * {
    font-size: 18px;
    color: #61a8ff;
}
#area-rank .area-table .always_tr {
    background: rgba(255, 255, 255, 0.1);
}
#area-rank .area-table .on_choose {
    background: rgba(255, 255, 255, 0.1);
}
#area-rank .area-table .table-content {
    width: 50%;
    float: left;
    text-align: center;
}
#area-rank .area-table #page div {
    float: left;
    height: 100%;
    width: 100%;
}
#area-rank .area-table #page .page-index .last-page-div {
    width: 48%;
}
#area-rank .area-table #page .page-index .next-page-div {
    width: 42%;
}
#area-rank .area-table #page .page-index .page-num {
    width: 10%;
}
#area-rank .area-table #page button {
    color: black;
}
#area-rank .area-table #page .now-page-num {
    color: cornflowerblue;
    float: left;
}
#area-rank .area-table #page .total-page-num {
    padding: unset;
    color: gray;
    float: left;
}
#area-rank .word-cloud img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*数据范围选择*/
#range-selection .now-choose {
    display: -webkit-inline-box;
    padding: 0 0.125rem;
}
#range-selection .now-choose > * {
    display:inline-block;
    text-align: center;
    float: left;
}
#range-selection .now-choose .choose-area {
    border: 1px solid white;
    border-radius: 5px;
    width: 65%;
}
#range-selection .now-choose .del {
    padding: unset;
    margin-left: 2px;
    width: 22px;
    background-color: unset;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
#range-selection .now-choose .del * {
    color: white;   /*js实现移动过来变brown*/
    padding: unset;
}
#range-selection .half-circle {
    width: 100%;
    height: 75%;
}
#range-selection .choose-level {
    width: 100%;
    height: 20%;
}
#range-selection .level-radio {
    display:inline;
}
#range-selection .level-radio * {
    font-size: 26px;
    padding: unset;
    margin-left: 4%;
    margin-top: 3%;
}
#range-selection .bar {
    display: block;
    margin: 0 auto;
    width: 50%;
}